html, body {
    background-color: #EEEEEE;
}

/*Landing Page Background Img and Header */
#bg {
	position: absolute; 
	top: 0; 
	left: 0;
	min-height: 100%;
	min-width: 1000px;
	height: auto; 
	width: 100%;
	z-index: -1;
}

.header {
   position: absolute; 
   top: 0; 
   left: 0; 
   min-width: 1335px;
   width: 100%; 
   height: 90px;
   background-color: rgba(25, 27, 26, 0.78);
}

.header-left {
	height:90px;
	width: 210px;
	float: left;
}

.logo {
	margin-left: 10%;
	margin-top: 10px;
}

.header-center {
	margin-top: 15px;
	margin-left: 20px;
	height: 60px;
	border-right: 2px solid white; 
	float: left;
}

.header-right {
	margin-left:22px;
	float: left;
	height:90px;
	padding-top: 12px;
	color: white;
	font-family: Muli;
	font-size: 22px;
}

.btn {	
	width: 100%;
	position: absolute;
	top:120px;
	margin-top: 20px;
}

#landing-btn {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	background-color: rgba(214, 218, 100, 0.95);
	color: white;
	font-family: Muli;
	font-size: 22px;
}

.ride-time {
	color: rgba(8, 133, 232, 0.7);
	font-size: 20px;
	font-family: sans-serif;
	margin-top: 150px;
	margin-left: 12px;
}


/*Slider*/
.rz-limit, .rz-bubble {
	display: none;
}

#slider-div .rz-pointer {
	background-color: #9DD5CB;
}
#slider-div .rz-pointer:focus {
	background-color: #9DD5CB;
	outline: 0px none;
}

#slider-div .rz-active:after {
	background-color: white;
}

#time-slider {
	position: absolute;
	top: 100px;
	left: 0;
	min-width: 1335px;
	width: 100%;
	height: 105px;
}

.slider-label {
	width: 290px;
	float: left;
	margin-top: 5px;
	margin-left: 40px;
	font-family: sans-serif;
	color: rgba(8, 133, 232, 0.7)
}

.slider-label-top {
	margin-bottom: 10px;
	font-size: 24px
}

.slider-label-middle, .slider-label-bottom {
	font-size: 15px;
	margin-top: 2px;
	margin-bottom: 2px;
}

#slider-div {
	width: 70%;
	float:left;
}

/*Chord Template*/
#circle circle {
  fill: none;
  pointer-events: all;
}

.group path {
  fill-opacity: .5;
}

path.chord {
  stroke: #000;
  stroke-width: .25px;
}

#circle:hover path.fade {
  display: none;
}
.chord-container {
	width:100%;
	min-width: 
}

.chord {
	display: inline-block;
	position: relative;
	top: 180px;
	left: calc((100% - 1180px) / 2);
}
